<nav class="bottom-nav" id="bottomNav">
    <ul class="bottom-nav-menu">
        <li class="bottom-nav-item">
            <a href="#" class="bottom-nav-link" data-route="dashboard">
                <i class="fas fa-home"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li class="bottom-nav-item">
            <a href="#" class="bottom-nav-link" data-route="daily-log">
                <i class="fas fa-plus-circle"></i>
                <span>Log Entry</span>
            </a>
        </li>
        <li class="bottom-nav-item">
            <a href="#" class="bottom-nav-link" data-route="reports">
                <i class="fas fa-chart-line"></i>
                <span>Reports</span>
            </a>
        </li>
        <li class="bottom-nav-item">
            <a href="#" class="bottom-nav-link" data-route="medications">
                <i class="fas fa-pills"></i>
                <span>Meds</span>
            </a>
        </li>
        <li class="bottom-nav-item">
            <a href="#" class="bottom-nav-link" data-route="appointments">
                <i class="fas fa-calendar"></i>
                <span>Appointments</span>
            </a>
        </li>
    </ul>
</nav>

<style>
@media (min-width: 769px) {
    .bottom-nav {
        display: none !important;
    }
}
</style>